<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("fragments/head.ejs"); %>
</head>
<body>
    <%- include("fragments/navbar.ejs"); %>

    
    <%- include(page); %>


    <%- include("fragments/footer.ejs"); %>
</body>
</html>