<ul class="collection">

    <% allcommentaires.forEach((user)=> { %>
        <li class="collection-item avatar ">
            <i class="material-icons circle">folder</i>
            <span class="title">
                <%= user.Nom %>
            </span>
            <p>
                <%= user.Prenom %> <br>
            </p>
            <p>
                <%= user.Email %><br>
            </p>
            <p>
                <%= user.Message %><br>
            </p>
            <% }) %>
                <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
        </li>

</ul>