<div class="row">
    <form class="col s12" method="post" action="/contact">
      <div class="row">

        <div class="input-field col s6">
          <input name="name" type="text">
          <label>First Name</label>
        </div>

        <div class="input-field col s6">
          <input name="comment" type="text">
          <label>Comment</label>
        </div>

        
        <input type="submit" class="waves-effect waves-light btn" value="Envoyer">

      </div>
    </form>
  </div>