<nav>
  <div class="nav-wrapper #ffa726 orange lighten-1">
    <a href="/acceuil" class="brand-logo">Home</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="/acceuil">Acceuil</a></li>
      <li><a href="/menu">Nos Burger</a></li>
      <li><a href="/commentaires">Commentaires</a></li>
      <li><a href="/contact">Contact</a></li>
</ul>
  </div>
</nav>